* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  height: 99px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  gap: 20px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  width: 200px;
  color: #14203E;
  opacity: 0.24;
}

.nav {
  display: flex;
  gap: 56px;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 5px;
  transform: scale(1.1);
}

.log {
  display: flex;
  gap: 15px;
}

.log button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.login {
  background-color: #F6F0E8;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.trial {
  background-color: #14203E;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.trial:hover {
  background-color: #14203E;
  color: #fff;
  transform: scale(1.1);
}

.login:hover {
  background-color: #F6F0E8;
  color: #000;
  transform: scale(1.1);
}

.hero {
  height: 704px;
  background-color: #FFFCF8;
  padding-top: 99px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 129px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  text-align: center;
}

.hero-text h1 {
  font-size: 66px;
  font-weight: 700;
  color: #14203E;
}

.hero-text p {
  font-size: 22px;
  font-weight: 400;
  color: #14203E;
}

.hero-content .trial {
  background-color: #14203E;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 192px;
  height: 73px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 40px;
}

.hero-content .trial:hover {
  background-color: #14203E;
  color: #fff;
  transform: scale(1.1);
}

.block {
  height: 496px;
  background-color: #fff;
  border-top: 1px solid #E5E5E5;
}

.line-text {
  margin: 0 auto;
  max-width: 663px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  display: flex;

}

.line-text .text p {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 600;
  color: #14203E;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-image.image1 {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.card-image.image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text h3 {
  font-size: 18px;
  color: #14203E;
  margin: 15px 0 10px 0;
  line-height: 1.4;
}

.card-text p {
  font-size: 12px;
  color: #666;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #14203E;
}

.nav-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .content {
    padding-top: 10px;
  }

  header {
    height: 70px;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .logo {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    color: #14203E;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .login{
    width: 90%;
    margin: 0 auto;
  }
  header .trial{
    width: 90%;
    margin: 0 auto;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-container {
    position: fixed;
    left: 100%;
    top: 70px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 70px);
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 50px 0;
    gap: 30px;
    overflow-y: auto;
  }

  .nav-container.active {
    left: 0;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .log {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }

  .hero {
    padding-top: 100px;
    height: auto;
    padding-bottom: 50px;
  }

  .hero-content {
    padding-top: 20px;
  }

  .hero-text h1 {
    font-size: 48px;
  }
  .hero-text p{
    font-size: 18px;
  }

  .block {
    height: auto;
    padding-bottom: 50px;
  }

  .line-text {
    max-width: 90%;
  }
}
